{% include "header.html.twig" %}
{% include "navigation.html.twig" %}
<main class="Site-content">
    <section class="Section">
        <div class="Container">
            <h2 class="Section-heading">Checkout</h2>
            <div id="messages">
                {% include "errorMessages.html.twig" %}
                {% include "statusMessage.html.twig" %}
            </div>
            <form action="/checkout}" method="post" enctype="multipart/form-data" id="checkoutform">
                <div class="InputCombo Grid-full">
                    {% include "tablestyles.html.twig" %}
                    <table>
                        <tr>
                            <th>PID</th>
                            <th>Product_name</th>
                            <th>Price</th>
                            <th>Quantity</th>
                        </tr>
                        {% if pageArray is defined %}
                        {% for key, value in pageArray %}
                         <tr>
                            <td>{{ pageArray[key]['product_idproduct'] }}</td>
                            <td>{{ pageArray[key]['product_name'] }}</td>
                            <td>{{ pageArray[key]['price'] }}</td>
                            <td>{{ pageArray[key]['quantity'] }}</td>
                        </tr>
                        {% else %}
                            <tr>
                                <td> No products in cart </td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                        {% endfor %}
                       {% endif %}
                    </table>
                    </div>
                    {% if not(pageArray is empty) %}
                        <div class="Grid-full">
                            <button type="submit" class="Button">Buy Now</button>
                        </div>
                    {% endif %}
            </form>
        </div>
    </section>
</main>
<!-- uncomment for using AJAX. A submit event is registered in this case -->
<!--<script src="../src/Exercises/js/checkout.js"></script>-->
{% include "footer.html.twig" %}