<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SlimShop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css"
          integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ base_url() }}/css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body class="Site">
<header class="Site-header">
    <div class="Header Header--small">
        <div class="Header-titles">
            <h1 class="Header-title"><i class="fa fa-shopping-bag" aria-hidden="true"></i>SlimShop</h1>
            <p class="Header-subtitle">For Database Exercises</p>
        </div>
        {% if _session.isloggedin is defined %}
        <div class="Header-logout">
            You are logged in as  {{  _session.first_name }} {{  _session.last_name }}. <a href="/logout" class="Button u-spaceLM">Logout</a>
        </div>
        {%  else  %}
        <div class="Header-logout">
            <a href="/login"  class="Button u-spaceLM">Login</a>
        </div>
        {% endif %}
    </div>
</header>