<!-- Styles not needed for NormFormDemo, therefore not in css. So its easier to reuse NormFormDemo -->
<style type="text/css">
        .Navigation {
            text-align: left;
        }
</style>
<div class="Header Navigation">
    <nav class="Container">
        <span class="u-spaceRS" >  <a href="/">Home</a> </span>
        <span class="u-spaceRS" >  <a href="/register">Register</a> </span>
        <span class="u-spaceRS" >  <a href="/product">Add Products</a> </span>
        <span class="u-spaceRS" >  <a href="/mycart">My Cart</a> </span>
        <span class="u-spaceRS" >  <a href="/search">Search</a> </span>
        <span class="u-spaceRS" >  <a href="/dbdemo">DBDEMO</a> </span>
        <span class="u-spaceRS" >  <a href="/dbslimdemo">SlimDEMO</a> </span>
        <span class="u-spaceRS" >  <a href="/dbajaxdemo">AJAXDEMO</a> </span>
        <span class="u-spaceRS" >  <a href="/esearchdemo">ESearchDEMO</a> </span>
        <span class="u-spaceRS" >  <a href="/redisdemo">RedisDEMO</a> </span>
        <span class="u-spaceRS" >  <a href="/pentest">PenTest</a>  </span>
    </nav>
</div>
